
# This is the ssh client system-wide configuration file.  See
# ssh_config(5) for more information.  This file provides defaults for
# users, and the values can be changed in per-user configuration files
# or on the command line.

# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Site-wide defaults for some commonly used options.  For a comprehensive
# list of available options, their meanings and defaults, please see the
# ssh_config(5) man page.

Host *
#   ForwardAgent no
#   ForwardX11 no
#   ForwardX11Trusted yes
#   RhostsRSAAuthentication no
#   RSAAuthentication yes
#   PasswordAuthentication yes
#   HostbasedAuthentication no
#   GSSAPIAuthentication no
#   GSSAPIDelegateCredentials no
#   GSSAPIKeyExchange no
#   GSSAPITrustDNS no
#   BatchMode no
#   CheckHostIP yes
#   AddressFamily any
#   ConnectTimeout 0
#   StrictHostKeyChecking ask
#   IdentityFile ~/.ssh/identity
#   IdentityFile ~/.ssh/id_rsa
#   IdentityFile ~/.ssh/id_dsa
#   Port 22
#   Protocol 2,1
#   Cipher 3des
#   Ciphers aes128-cbc,3des-cbc,blowfish-cbc,cast128-cbc,arcfour,aes192-cbc,aes256-cbc
#   MACs hmac-md5,hmac-sha1,umac-64@openssh.com,hmac-ripemd160
#   EscapeChar ~
#   Tunnel no
#   TunnelDevice any:any
#   PermitLocalCommand no
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication no
    GSSAPIDelegateCredentials no
    ServerAliveInterval 120

# Allows multiple connection faster (and entered passwd only once if needed)    
    ControlMaster auto
    ControlPath /tmp/ssh_mux_%h_%p_%r

#
# Host name aliases
#

# Telstra dev
    Host telapp441
      HostName vs-telapp-441.vic.hpa
      User transrx

# Barr servers
    Host odin
      HostName odin.vic.hpa
      User barr
    
    Host pbursyd2
      HostName pbursyd2.nsw.hpa
      User barrnsw
    
    Host moorebank
      HostName syd4app78lx.salmat.com.au
      User barrnsw
    
    Host sabarr
      HostName 10.121.17.55
      User ibsprod
    
    Host wabarr
      HostName 10.9.64.160
      User barr

    Host phoenix
      HostName 10.7.41.25
      User barrq

# IT-DEV
    Host mel4dev
      HostName mel4dev05pv.vic.hpa
      User taned
    
    Host mel4app
      HostName mel4app05pv.vic.hpa
      User taned
    
    Host appdev04
      HostName appdev04.vic.hpa
    
    Host appsvr04
      HostName appsvr04.vic.hpa
      User taned

# SBU
    Host mel4dev06lx
      HostName mel4dev06lx.vic.hpa
    
    Host mel4app06lx
      HostName mel4app06lx.salmat.com.au

# ATO - Canberra
    Host atoprod
      HostName atoprod.act.hpa
      User taned
  
# EDD
    Host edd monsyd1
      HostName monsyd1.nsw.hpa
      User xfrmbk

# AIX
    Host mbk10 aixmbk10
      HostName 10.113.145.9
      User taned

#
# Proxying to another remote machine via vcmsd
#
#    Host mel4dev05pv
#      HostName mel4dev05pv.vic.hpa 
#      User taned
#      ProxyCommand ssh vcmsd.vic.hpa nc %h %p

#
# Connecting to Remote Services with Local Apps
#
# Sometimes there is a service, such as a database or a web server, which is
# available on a remote server but it would be handy to connect to it from a
# local application. This can be achieved with port forwarding. For example, if
# the db server is running Postgres (and only allows access locally) you can put
# this in your SSH config:
# 
#     Host db
#       LocalForward 5433 localhost:5432
# 
# Then when you SSH to that server it sets up port 5433 (a number I just made up)
# on your computer to forward all traffic to port 5432 (the standard Postgres
# port) on the server, and that, so far as the server is concerned, the
# connection comes from localhost.
# 
#     $ ssh db
# 
# So in another window (or after immediately exiting the shell created by the
# above command if you’re using persistent connections) you can connect to the DB
# with a local Postgres client:
# 
#     $ psql -h localhost -p 5443 orders


